/* MOBIL */
@media (min-width: 400px) {
  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .grid1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
    justify-content: center;
  }

  nav {
    display: none;
  }

  body {
    padding: 25px;
  }
  .portrait4 {
    width: 100%;
    z-index: -1;
  }

  .normal_nav {
    display: none;
  }
  h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 55px;
    color: rgb(41, 41, 41);
  }
  h2 {
    font-family: raleway_italic;
    font-size: 30px;
    color: rgb(41, 41, 41);
  }
  h3 {
    font-family: raleway_semibold;
    font-size: 25px;
    color: rgb(41, 41, 41);
  }
  h4 {
    font-family: raleway_semibold;
    font-size: 20px;
    color: rgb(41, 41, 41);
  }

  p {
    font-family: raleway_regular;
    font-size: 19px;
    line-height: 35px;
    color: rgb(41, 41, 41);
  }
  .img {
    width: 100%;
    gap: 20px;
    border-radius: 10px;
  }

  .video {
    width: 100%;
    height: 100%;
  }
  .collapsible {
    background-color: rgb(249, 69, 255);
    border-radius: 26px;
    color: aliceblue;
    cursor: pointer;
    padding: 13px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-family: raleway_regular;
  }

  .active,
  .collapsible:hover {
    background-color: rgba(249, 69, 255, 0.452);
    color: #482ff7;
  }

  .content {
    padding: 18px;
    display: none;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    transition: max-height 0.7s ease-out;
    font-family: raleway_regular;
  }

  .temaknap {
    background-color: rgb(249, 69, 255);
    padding: 13px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    font-family: raleway_regular;
    font-size: 12px;
  }
  .temaknap:hover {
    background-color: rgba(249, 69, 255, 0.452);
    padding: 13px;
    border-radius: 20px;
    color: #482ff7;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    font-family: raleway_regular;
    font-size: 12px;
  }
  .img_kaffe {
    width: 100%;
    gap: 20px;
    border-radius: 10px;
  }
  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .kaffelink {
    background-color: rgb(249, 69, 255);
    padding: 15px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 15px;
    border: none;
    text-align: center;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    font-family: raleway_regular;
  }

  .kaffelink:hover {
    background-color: rgba(249, 69, 255, 0.452);
    opacity: 70%;
    padding: 15px;
    border-radius: 20px;
    color: #482ff7;
    width: 100%;
    font-size: 15px;
    border: none;
    text-align: center;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    font-family: raleway_regular;
  }

  /* 
  .screen {
    width: 100%;
    aspect-ratio: 16/9;
    position: relative;
    overflow: hidden;
  } */
  /* 
  body {
    padding: 20px;
  } */

  .portrait {
    width: 100%;
    top: 8%;
    left: 1%;
    /* position: absolute;
    z-index: -3; */
  }

  .portrait2 {
    width: 100%;
    /* position: relative; */
    top: 25%;
    left: 2%;
  }

  .image-container {
    /* position: absolute; */
    /* left: 0%;
    top: 2%; */
    width: 100%; /* Adjust as needed */
    position: fixed;
    z-index: -1;
  }

  .image-container img {
    width: 100%;
  }

  .headline {
    position: fixed;
    top: 15%; /* Center vertically */
    left: 9%; /* Center horizontally */
    /* transform: translate(-50%, -50%); Offset by half to center */
  }
  .headline_content {
    color: rgb(41, 41, 41); /* Text color */
    line-height: 2px;
    font-family: "Times New Roman", Times, serif;
    font-size: 63px;
  }

  .af {
    position: fixed;
    top: 27%; /* Center vertically */
    left: 10%; /* Center horizontally */
  }
  .af_content {
    color: rgb(41, 41, 41); /* Text color */
    font-size: 28px; /* Adjust as needed */
    line-height: 1px;
    font-family: raleway_italic;
  }

  .navn {
    position: fixed;
    top: 34%; /* Center vertically */
    left: 10%; /* Center horizontally */
  }
  .navn_content {
    color: rgb(41, 41, 41); /* Text color */
    font-size: 32px; /* Adjust as needed */
    line-height: 2px;
    text-align: left;
    font-family: raleway_italic;
  }
  .bech {
    position: fixed;
    top: 40%; /* Center vertically */
    left: 9%; /* Center horizontally */
  }
  .bech_content {
    color: rgb(41, 41, 41); /* Text color */
    font-size: 32px; /* Adjust as needed */
    line-height: 2px;
    text-align: left;
    font-family: raleway_italic;
  }
  .autograph_header {
    width: 0%;
    position: relative;
  }

  .autograph_footer {
    width: 12%;
  }
  .footer_text {
    font-family: raleway_regular;
    line-height: 11px;
    font-size: 11px;
    color: rgb(41, 41, 41);
  }
  .hyldestimg {
    width: 100%;
  }

  .sat7 {
    width: 100%;
  }

  p {
    font-family: raleway_regular;
    font-size: 14px;
    line-height: 25px;
    color: rgb(41, 41, 41);
  }

  .ommig_h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
    color: rgb(41, 41, 41);
  }

  .ommig_h2 {
    font-family: raleway_semibold;
    font-size: 23px;
    color: rgb(41, 41, 41);
  }

  .ommig_h3 {
    font-family: raleway_semibold;
    font-size: 20px;
    color: rgb(41, 41, 41);
  }

  .ommig_h4 {
    font-family: raleway_semibold;
    font-size: 20px;
    color: rgb(41, 41, 41);
  }

  .sat7link {
    font-family: raleway_regular;
    font-size: 13px;
    color: rgb(41, 41, 41);
  }

  .sat7link:hover {
    color: #b70083;
  }

  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }

  /* Almindelig styling på header og .navbar */
  /* step 3 */
  .header {
    border-bottom: 1px solid #e2e8f0;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    z-index: 7;
  }

  /* Hamburgeren laves gøres usynlig */
  /* step 4 */
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
  }
  /* ... go gøres usynlig */
  /* step 5 */
  .hamburger {
    display: none;
  }

  /* Styling af menuen */
  /* step 6 */
  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-item {
    margin-left: 5px;
  }

  .nav-link {
    font-size: 18px;
    font-weight: 400;
    color: #475569;
    font-family: raleway_regular;
    text-align: center;
  }

  .nav-link:hover {
    color: rgb(249, 69, 255);
  }

  /* .nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
  } */

  /* step 7 */

  .nav-menu {
    position: fixed;
    left: -110%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 20px 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    translate: 0 8px;
    rotate: 45deg;
  }

  .hamburger.active .bar:nth-child(3) {
    translate: 0 -8px;
    rotate: -45deg;
  }
  .linkedin {
    width: 27%;
    margin-top: 10px;
  }

  .linkedin1 {
    width: 27%;
    margin-top: 10px;
  }
}

/* TABLET */
/* @media (min-width: 768px) {
  .navbar {
    display: none;
  } */
/* .screen {
    width: 100%;
    aspect-ratio: 16/9;
    position: relative;
    overflow: hidden;
  } */

/* .normal_navigation {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }

  nav li {
    padding: 0.5em;
  }
  nav li a {
    color: black;
    font-family: raleway_regular;
    font-size: 18px;
    letter-spacing: 4px;
  }
  .portrait {
    width: 40%;
    position: absolute;
    top: 1%;
    left: 60.5%;
  } */

/* WEBSITE */
@media (min-width: 1100px) {
  .navbar {
    display: none;
  }

  .bech {
    display: none;
  }
  .bech_content {
    display: none;
  }
  /* body {
    padding: 40px;
  } */
  .screen {
    width: 100%;
    aspect-ratio: 16/9;
    position: relative;
    overflow: hidden;
  }

  /* .normal_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }

  .navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }

  .nav-item {
    margin-left: 20px;
  }

  .nav-link {
    color: rgb(34, 34, 34);
    text-decoration: none;
    font-size: 20px;

    font-family: raleway_regular;
    transition: color 0.3s ease;
  }
  .nav-link:hover {
    color: #ff00dd;
    text-decoration: underline;
  } */

  /* styles.css */

  nav {
    display: flex;
    justify-content: flex-end; /* Aligns the nav bar items to the right */
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  nav ul li {
    position: relative;
  }

  nav ul li a {
    display: block;
    color: rgb(41, 41, 41);
    padding: 14px 20px;
    text-decoration: none;
    font-family: raleway_regular;
    font-size: 18px;
  }

  nav ul li a:hover {
    color: rgb(249, 69, 255);
    text-decoration: underline;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 5px;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: rgb(41, 41, 41);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .autograph_header {
    width: 5.5%;
    position: relative;
  }

  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }
  .portrait2 {
    width: 100%;
    left: 15%;
  }

  .grid1_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }

  .img {
    width: 100%;
    gap: 20px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .video {
    width: 100%;
    height: 70%;
  }

  .img_kaffe {
    width: 100%;
    gap: 20px;
    border-radius: 10px;
  }

  .collapsible {
    background-color: rgb(249, 69, 255);
    border-radius: 26px;
    color: aliceblue;
    cursor: pointer;
    padding: 16px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-family: raleway_regular;
  }

  .active,
  .collapsible:hover {
    background-color: rgba(249, 69, 255, 0.452);
    color: #482ff7;
  }

  .content {
    padding: 18px;
    display: none;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    transition: max-height 0.7s ease-out;
    font-family: raleway_regular;
  }

  .kaffelink {
    background-color: rgb(249, 69, 255);
    padding: 15px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    width: 100%;
    font-size: 17px;
    border: none;
    text-align: center;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    font-family: raleway_regular;
  }

  .kaffelink:hover {
    background-color: rgba(249, 69, 255, 0.452);
    opacity: 70%;
    padding: 15px;
    border-radius: 20px;
    color: #482ff7;
    width: 100%;
    font-size: 17px;
    border: none;
    text-align: center;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    font-family: raleway_regular;
  }
  .temaknap {
    background-color: rgb(249, 69, 255);
    padding: 13px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    font-family: raleway_regular;
    font-size: 14px;
  }
  .temaknap:hover {
    background-color: rgba(249, 69, 255, 0.452);
    padding: 13px;
    border-radius: 20px;
    color: #482ff7;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    font-family: raleway_regular;
    font-size: 14px;
  }

  h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 70px;
    color: rgb(41, 41, 41);
  }
  h2 {
    font-family: raleway_italic;
    font-size: 35px;
    color: rgb(41, 41, 41);
  }
  h3 {
    font-family: raleway_semibold;
    font-size: 30px;
    color: rgb(41, 41, 41);
  }

  h4 {
    font-family: raleway_semibold;
    font-size: 22px;
    color: rgb(41, 41, 41);
  }

  p {
    font-family: raleway_regular;
    font-size: 14px;
    line-height: 23px;
    color: rgb(41, 41, 41);
  }

  .portrait {
    width: 60%;
    top: 8%;
    left: 40%;
    position: absolute;
    z-index: -3;
  }

  .image-container {
    /* position: absolute; */
    width: 100%; /* Adjust as needed */
    z-index: -1;
    position: relative;
  }

  .image-container img {
    width: 100%;
  }

  .headline {
    position: fixed;
    top: 32%; /* Center vertically */
    left: 27%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset by half to center */
  }
  .headline_content {
    color: rgb(41, 41, 41); /* Text color */
    line-height: 2px;
    font-family: "Times New Roman", Times, serif;
    font-size: 110px;
  }

  .af {
    position: fixed;
    top: 42%; /* Center vertically */
    left: 13%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset by half to center */
  }
  .af_content {
    color: rgb(41, 41, 41); /* Text color */
    font-size: 45px; /* Adjust as needed */
    line-height: 1px;
    font-family: raleway_italic;
  }

  .navn {
    position: fixed;
    top: 50%; /* Center vertically */
    left: 22%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset by half to center */
  }
  .navn_content {
    color: rgb(41, 41, 41); /* Text color */
    font-size: 56px; /* Adjust as needed */
    line-height: 2px;
    font-family: raleway_italic;
  }
  .portrait4 {
    width: 100%;
    z-index: -1;
  }

  .footer_text {
    font-family: raleway_italic;
    line-height: 5px;
    font-size: 12px;
    color: rgb(41, 41, 41);
  }

  .linkedin {
    width: 7%;
  }

  .linkedin1 {
    width: 3%;
  }

  .ommig_h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 65px;
    color: rgb(41, 41, 41);
  }

  .ommig_h2 {
    font-family: raleway_semibold;
    font-size: 28px;
    color: rgb(41, 41, 41);
  }

  .ommig_h3 {
    font-family: raleway_semibold;
    font-size: 22px;
    color: rgb(41, 41, 41);
  }

  .ommig_h4 {
    font-family: raleway_semibold;
    font-size: 20px;
    color: rgb(41, 41, 41);
  }

  .grid1-1-1 {
    display: grid;
    grid-template-columns: 1fr;
  }

  .grid_1-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
