/* MOBIL */
@media (min-width: 400px) {
  .normal_navigation {
    display: none;
  }

  /* 
  .screen {
    width: 100%;
    aspect-ratio: 16/9;
    position: relative;
    overflow: hidden;
  } */

  body {
    padding: 20px;
  }

  .portrait {
    width: 100%;
    top: 10%;
    left: 6%;
  }

  .portrait2 {
    width: 90%;
    position: relative;
    top: 25%;
    left: 4%;
  }

  .image-container {
    position: absolute;
    left: 0%;
    top: 2%;
    width: 100%; /* Adjust as needed */
    z-index: -1;
  }

  .image-container img {
    width: 100%;
  }

  .headline {
    position: absolute;

    top: 18%; /* Center vertically */
    left: 40%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset by half to center */
    color: rgb(41, 41, 41); /* Text color */
    font-size: 33px; /* Adjust as needed */
    line-height: 2px;
    font-family: abril;
  }

  .af {
    position: absolute;
    top: 30%; /* Center vertically */
    left: 10%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset by half to center */
    color: rgb(41, 41, 41); /* Text color */
    font-size: 16px; /* Adjust as needed */
    line-height: 1px;
    font-family: raleway_italic;
  }

  .navn {
    position: absolute;
    top: 38%; /* Center vertically */
    left: 35%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset by half to center */
    color: rgb(41, 41, 41); /* Text color */
    font-size: 19px; /* Adjust as needed */
    line-height: 2px;
    font-family: raleway_semibold;
  }
  .autograph_header {
    width: 15%;
    position: relative;
  }

  .autograph_footer {
    width: 12%;
  }
  .footer_text {
    font-family: raleway_regular;
    line-height: 11px;
    font-size: 13px;
  }
  .hyldestimg {
    width: 100%;
  }

  .sat7 {
    width: 100%;
  }

  p {
    font-family: raleway_regular;
    font-size: 18px;
    line-height: 27px;
  }

  .ommig_h1 {
    font-family: abril;
    font-size: 55px;
  }

  .ommig_h2 {
    font-family: abril;
    font-size: 45px;
  }

  .ommig_h3 {
    font-family: raleway_semibold;
    font-size: 22px;
  }

  .ommig_h4 {
    font-family: raleway_semibold;
    font-size: 20px;
  }

  .sat7link {
    font-family: raleway_regular;
    font-size: 18px;
    color: black;
  }

  .sat7link:hover {
    color: #b70083;
  }

  li {
    list-style: none;
  }
  a {
    text-decoration: none;
  }

  /* Almindelig styling på header og .navbar */
  /* step 3 */
  .header {
    border-bottom: 1px solid #e2e8f0;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    z-index: 7;
  }

  /* Hamburgeren laves gøres usynlig */
  /* step 4 */
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
  }
  /* ... go gøres usynlig */
  /* step 5 */
  .hamburger {
    display: none;
  }

  /* Styling af menuen */
  /* step 6 */
  .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-item {
    margin-left: 5rem;
  }

  .nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
  }

  .nav-link:hover {
    color: #482ff7;
  }

  .nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
  }

  /* step 7 */

  .nav-menu {
    position: fixed;
    left: -110%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    translate: 0 8px;
    rotate: 45deg;
  }

  .hamburger.active .bar:nth-child(3) {
    translate: 0 -8px;
    rotate: -45deg;
  }
}

/* TABLET */
@media (min-width: 768px) {
  .navbar {
    display: none;
  }
  /* .screen {
    width: 100%;
    aspect-ratio: 16/9;
    position: relative;
    overflow: hidden;
  } */

  .normal_navigation {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }

  nav li {
    padding: 0.5em;
  }
  nav li a {
    color: black;
    font-family: raleway_regular;
    font-size: 18px;
    letter-spacing: 4px;
  }
  .portrait {
    width: 40%;
    position: absolute;
    top: 1%;
    left: 60.5%;
  }
}

/* WEBSITE */
@media (min-width: 1100px) {
  .navbar {
    display: none;
  }
  .screen {
    width: 100%;
    aspect-ratio: 16/9;
    position: relative;
    overflow: hidden;
  }

  .normal_navigation {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
  }
  nav li {
    padding: 0.5em;
  }
  nav li a {
    color: black;
    font-family: font1;
    font-size: 22px;
    letter-spacing: 4px;
  }

  .portrait {
    width: 50%;
    position: absolute;
    top: 0.2%;
    left: 51%;
  }
}
