html {
  background-image: url("../img/background/background_test2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
}

.img {
  width: 100%;
}

/* FONTS */
@font-face {
  font-family: abril;
  src: url(../fonts/Abril_Fatface\Tenor_Sans/Abril_Fatface);
}
@font-face {
  font-family: tenor;
  src: url(../fonts/Tenor_Sans/TenorSans-Regular.ttf);
}
@font-face {
  font-family: raleway_regular;
  src: url(../fonts/Raleway/Raleway-Regular.ttf);
}
@font-face {
  font-family: raleway_italic;
  src: url(../fonts/Raleway/Raleway-Italic.ttf);
}
@font-face {
  font-family: raleway_semibold;
  src: url(../fonts/Raleway/Raleway-SemiBold.ttf);
}
