html {
  background-image: url("../img/background/background_test2.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
}

.img {
  width: 100%;
}

/* FONTS */
@font-face {
  font-family: abril;
  src: url(../fonts/Abril_Fatface\Tenor_Sans/Abril_Fatface);
}
@font-face {
  font-family: tenor;
  src: url(../fonts/Tenor_Sans/TenorSans-Regular.ttf);
}
@font-face {
  font-family: raleway_regular;
  src: url(../fonts/Raleway/Raleway-Regular.ttf);
}
@font-face {
  font-family: raleway_italic;
  src: url(../fonts/Raleway/Raleway-Italic.ttf);
}
@font-face {
  font-family: raleway_semibold;
  src: url(../fonts/Raleway/Raleway-SemiBold.ttf);
}

h1 {
  font-size: tenor;
  font-size: 55px;
}
h2 {
  font-size: raleway_italic;
}
h3 {
  font-size: raleway_semibold;
}
p {
  font-size: raleway_regular;
}

/* .collapsible {
  background-color: aqua;
  border-radius: 26px;
  color: aliceblue;
  cursor: pointer;
  padding: 16px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  font-family: raleway_regular;
}

.active,
.collapsible:hover {
  color: blueviolet;
}

.content {
  padding: 18px;
  display: none;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  transition: max-height 0.7s ease-out;
  font-family: raleway_regular;
} */

/* .temaknap {
  stroke: black;
  stroke-width: 15em;
  background-color: rgb(62, 62, 62);
  padding: 13px;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}
.temaknap:hover {
  stroke: black;
  stroke-width: 2em;
  background-color: rgb(70, 103, 223);
  padding: 13px;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  text-decoration: none;
  cursor: pointer;
}

.temaknap {
  stroke: black;
  stroke-width: 15em;
  background-color: rgb(62, 62, 62);
  padding: 13px;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  text-decoration: none;
  cursor: pointer;
} */

.kaffelink {
  background-color: rgb(162, 3, 120);
  padding: 20px;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 25px;
  border: none;
  text-align: center;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  font-family: raleway_regular;
}

.kaffelink:hover {
  background-color: rgb(162, 3, 120);
  opacity: 70%;
  padding: 20px;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 25px;
  border: none;
  text-align: center;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  font-family: raleway_regular;
}
